body{
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
    background-color: bisque;
    text-align: center;
}

h1,p{
    margin-bottom: 20px;
    color: blueviolet;
}

img{
    height: 500px;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    
}